body {
    font-family: 'Montserrat';
    background-color: #eee;
}

h1,
h2,
h3 {
    text-align: right;
    color: grey;
    /* text-decoration: underline; */
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 10px;
    border-bottom: solid 1px #ddd;
    padding: 20px;
    /* word-spacing: 50px; */
}

h4 {
    font-size: 22pt;
    color: #c06a3f;
    border-left: solid 1px #c06a3f;
    padding-left: 80px;
}

.new-arrivals span {
    font-weight: bold;
    color: rgb(87, 160, 23);
    cursor: pointer;
}

.new-arrivals>li {

    padding: 10px;
}

.new-arrivals>li:hover {
    color: rgb(127, 21, 11);
    cursor: default;
}

.imports li {
    padding: 7px;
}

.imports>li>a {
    font-size: 18pt;
    color: #c06a3f;
    font-weight: bold;
}

.imports ul li {
    font-size: 12pt;
    font-weight: normal;
    transition: background-color 2s;
}

.imports ul>li:hover {
    background-color: #c06a3f;
    color: white;

}
<<<<<<< HEAD
dl {
    background-color: antiquewhite;
    padding: 20px;
}
dl > span {
    color: rgb(33, 3, 179);
    font-size: medium;
    padding: 20px;
    pading-right: 400px;
    cursor: default;

}
dl > span :hover{
    cursor: pointer;
    color: darkcyan;
    font-weight: bolder;
    font-size: larger;
}
dl dd :hover{
    color: aqua;
    transition:background-color 2s;
=======

.img-import {
    background-color: #fff;
    padding: 140px;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
}
.img-import:hover  img{
    width: 100%;
}


dl{
    background-color: #ddd;
    background-image: url(/assets/img/bg-import.png);
    padding: 150px;
    transition: background-color 1s,background-image 1s;
}
dl:hover{
     background-color: #74daa4; 
    background-image: url(/assets/img/bg-import-2.png);
    background-size: 120%;
    background-position: bottom right;
    color :grey;
  

}
dt, dt > a {
    font-weight: bold;
    font-size: 18pt;
    text-decoration: none;
    color:#c06a3f;
    padding: 10px;
    
>>>>>>> ba1cc072927b2b694750805efd1dcc389543cfac
}